* {
  box-sizing: border-box;
}

.navbar-brand a {
  font-size:25px;
  color:black;
  margin-top:-5px;
  }

  #collapsable-nav a { /*aligns out menu buttons*/
    text-align:center;
  }
body {
  padding: 50px;
  overflow:scroll;
}



p.text-center {
  font-family: 'Roboto', sans-serif;
  font-size:50px;
  margin-top: 90px;
}

h3 {
 /*position:absolute;
 top: 1px;
  /*margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;*/
  text-align: center;
  /*width: 115px;
  height: 40px;*/
  
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
   font-size:25px;
   padding-top: 5px;

}

.section {
 
  height: 1000%;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 12px;
  padding:30px;
  background-color: #E0E0E0;
  position:relative;
  top: 50px;
  font-family: 'Roboto', sans-serif;
  font-size:20px;
  top: 10px;
  /*overflow:hidden;*/

}

p {
  margin-top:12px;
}

.navbar-toggle {
  position: relative;
}
@media (min-width: 768px) { /*I added this in 9/9/16*/
  .navbar-toggle {
    display:none;
  }
}
  

/* Simple Responsive Framework. */
.row {
  width: 100%;
}
/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
   
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
   
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}